body{
    color: aliceblue;
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    margin: 0px;
    

}


/* h1{
    color: aliceblue;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
} */


.container{
    /* color: aliceblue;
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; */
    backdrop-filter: blur(2px);
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    flex-direction: column;
    

}

.heading{
    text-align: center;
    /* margin-top: 30px; */
    padding: 10px;
    /* width: 500px; */
    /* margin-left: auto;
    margin-right: auto; */
    color: aliceblue;
    
    background-color: #8484846b;
    /* border-radius: 7px; */
    /* height: 75px; */
}

.box{
    border-radius: 5px;
    margin-top: 30px;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    background-color: #0c0707;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
    flex-wrap: wrap;
}

.btn{
    display: flex;
    align-self: center;
    margin-top: 30px;
    color: aquamarine;
}


